
.bg-wrapper {
  width: 100%;
  height: 100%;
  background-color:#121b29;
}

button {
  padding: 0.5em 1em;
  font-size: medium;
  font-weight: bold;
  border-radius: 1em;
  border-style: solid;
  border-color: lime;
  border-width: 3px;
  z-index: 3;
}

button:focus {
  outline: none;
  border-color: magenta;
}
button:hover {
  background-color: magenta;
  border-color: magenta;
}

.segment {
  padding: 15vh 10vw;
}

div.first > button{
  margin-left: 0;
}
div.second > button {
  margin-left: 20vw;
}
div.third > button {
  margin-left: 40vw;
}
